.row{
  margin-right:5px;
  margin-left:5px;
  margin-top:3px;
}

.i1{
  height:500px;
  width:100%;
}

.imgm{
  height:500px;
  width:100%;
}

#a4{
  width:100%;
  height:500px;
}

#a3{
  width:100%;
  height:500px;
}

#a2{
  width:100%;
  height:500px;
}

#a5{
  height:300px;
  width:850px;
}

#b1{
  margin-top:10px;
}

#b2{
  margin-left:10px;
  margin-right:60px;
  margin-top:20px;
}

.b3{
  height:200px;
  width:200px;
}

iframe{
  margin-left:140px;
}

#t1{
  margin-top:10px;
  margin-left:-6px;
}

#t2{
  margin-left:-3px;
  margin-top:2px;
}

#t3{
  margin-left:2px;
  margin-top:2px;
}

#t4{
  margin-left:2px;
  margin-top:2px;
}

.head
{
    margin-left: 50px;
    margin-top: 70px;
}

#logo{
  margin: 0px;
  font:normal 30px Cookie, cursive;
  color:#fff;
    margin-top: -5px;
    margin-left: 50px;
}
form{
    border: 1px solid #F7F7F9;
    border-radius: 5px;
    background-color: #F7F7F9;
    padding: 30px;
}
input{
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding-left: 10px;
}
#fname{
    margin-left: 10px
}
#lname{
    margin-left: 12px
}
#mob{
    margin-left: 37px;
}
textarea{
    height: 100px;
    width: 300px;
    border: 1px solid #F7F7F9;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 19px;
    margin-top: 10px
}
#sub{
    margin-left: 40px;
    margin-top: 30px;
    width: 300px;
    height: 40px;
}

.log{
    width: 400px;
}

.thumbnail{
  /* height: 350px; */
  display:block;
  padding:10px;
  margin-bottom:15px;
  line-height:1.42857143;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:3px;
  -webkit-transition:border .2s ease-in-out;
  -o-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out;
    box-shadow: 0 0 1px 1px #DDDDDD;
    height: auto;
}

.covid{
  display:block;
  padding:10px;
  margin-bottom:15px;
  line-height:1.42857143;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:3px;
  -webkit-transition:border .2s ease-in-out;
  -o-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out;
    box-shadow: 0 0 1px 1px #DDDDDD;
    height: 630px;
}

.a{
    width: 350px;
    height: 40px
}

.ex{
    position: relative;
    text-align: center;
    color: white;
}
.cont{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 20px;
    text-align: left;
}
#exer{ 
    text-align: left;
}
.card{
    border: 1px solid #ddd;
    border-radius:4px;
}
.dash{
    border: 1px solid #F7F7F9;
    border-radius: 5px;
    background-color: #F7F7F9;
    padding: 30px;
    
}
#height{
   margin-left: 40px; 
}
#weight{
   margin-left: 40px; 
}
#add{
    margin-left: 32px; 
    width: 350px;
}
#uname2{
    margin-left: 10px;
}
#pass2{
    margin-left: 15px;
}
.tar{
   border: 1px solid #F2F2F2;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding-left: 10px;  
    width: 350px;
    height: 40px;
    margin-left: 55px;
}
.mem{
   border: 1px solid #F2F2F2;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding-left: 10px;  
    width: 350px;
    height: 40px;
    margin-left: 5px;
}
